# Stroke Predictions

1) id: unique identifier
2) gender: "Male", "Female" or "Other"
3) age: age of the patient
4) hypertension: 0 if the patient doesn't have hypertension, 1 if the patient has hypertension
5) heart_disease: 0 if the patient doesn't have any heart diseases, 1 if the patient has a heart disease
6) ever_married: "No" or "Yes"
7) work_type: "children", "Govt_jov", "Never_worked", "Private" or "Self-employed"
8) Residence_type: "Rural" or "Urban"
9) avg_glucose_level: average glucose level in blood
10) bmi: body mass index
11) smoking_status: "formerly smoked", "never smoked", "smokes" or "Unknown"*
12) stroke: 1 if the patient had a stroke or 0 if not
*Note: "Unknown" in smoking_status means that the information is unavailable for this patient

In [2]:
import pandas as pd
import numpy as np

df = pd.read_csv('healthcare-dataset-stroke-data.csv')

df.head()

,id,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,9046,Male,67.0,0,1,Yes,Private,Urban,228.69,36.6,formerly smoked,1
1,51676,Female,61.0,0,0,Yes,Self-employed,Rural,202.21,NaN,never smoked,1
2,31112,Male,80.0,0,1,Yes,Private,Rural,105.92,32.5,never smoked,1
3,60182,Female,49.0,0,0,Yes,Private,Urban,171.23,34.4,smokes,1
4,1665,Female,79.0,1,0,Yes,Self-employed,Rural,174.12,24.0,never smoked,1

In [5]:
# Drop ID since we think it isn't necessary
df.drop('id', axis = 1, inplace = True)

In [7]:
# Show info about the dataframe 
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5110 entries, 0 to 5109
Data columns (total 11 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   gender             5110 non-null   object
 1   age                5110 non-null   float64
 2   hypertension       5110 non-null   int64
 3   heart_disease      5110 non-null   int64
 4   ever_married       5110 non-null   object
 5   work_type          5110 non-null   object
 6   Residence_type     5110 non-null   object
 7   avg_glucose_level  5110 non-null   float64
 8   bmi                4909 non-null   float64
 9   smoking_status     5110 non-null   object
 10  stroke             5110 non-null   int64
dtypes: float64(3), int64(3), object(5)
memory usage: 439.3+ KB

In [8]:
# Show statistical information about the dataframe
df.describe()

,age,hypertension,heart_disease,avg_glucose_level,bmi,stroke
count,5110.000000,5110.000000,5110.000000,5110.000000,4909.000000,5110.000000
mean,43.226614,0.097456,0.054012,106.147677,28.893237,0.048728
std,22.612647,0.296607,0.226063,45.283560,7.854067,0.215320
min,0.080000,0.000000,0.000000,55.120000,10.300000,0.000000
25%,25.000000,0.000000,0.000000,77.245000,23.500000,0.000000
50%,45.000000,0.000000,0.000000,91.885000,28.100000,0.000000
75%,61.000000,0.000000,0.000000,114.090000,33.100000,0.000000
max,82.000000,1.000000,1.000000,271.740000,97.600000,1.000000

In [12]:
# Total nulls
df.bmi.isnull().sum()

201

In [37]:
# Since only 200 total NA values, we decided to drop them 
df.dropna(inplace = True)

In [38]:
len(df)

4909

In [16]:
df.smoking_status.unique()

array(['formerly smoked', 'never smoked', 'smokes', 'Unknown'],
      dtype=object)

In [22]:
len(df.query("smoking_status == 'Unknown'"))

1544

Handling unknown values in the smoking_status column.

In [23]:
df.smoking_status.value_counts()

never smoked       1892
Unknown            1544
formerly smoked     885
smokes              789
Name: smoking_status, dtype: int64

We came to the conclusion to remove observations that had a smoking_status of 'Unknown'. We felt that if left in the dataset, it wouldn't provide us any valuable information that would help predict stroke.

In [41]:
df = df.query("smoking_status != 'Unknown'")

In [42]:
df

,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,Male,67.0,0,1,Yes,Private,Urban,228.69,36.6,formerly smoked,1
2,Male,80.0,0,1,Yes,Private,Rural,105.92,32.5,never smoked,1
3,Female,49.0,0,0,Yes,Private,Urban,171.23,34.4,smokes,1
4,Female,79.0,1,0,Yes,Self-employed,Rural,174.12,24.0,never smoked,1
5,Male,81.0,0,0,Yes,Private,Urban,186.21,29.0,formerly smoked,1
...,...,...,...,...,...,...,...,...,...,...,...
5100,Male,82.0,1,0,Yes,Self-employed,Rural,71.97,28.3,never smoked,0
5102,Female,57.0,0,0,Yes,Private,Rural,77.93,21.7,never smoked,0
5106,Female,81.0,0,0,Yes,Self-employed,Urban,125.20,40.0,never smoked,0
5107,Female,35.0,0,0,Yes,Self-employed,Rural,82.99,30.6,never smoked,0
5108,Male,51.0,0,0,Yes,Private,Rural,166.29,25.6,formerly smoked,0

In [48]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3426 entries, 0 to 5108
Data columns (total 11 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   gender             3426 non-null   object
 1   age                3426 non-null   float64
 2   hypertension       3426 non-null   bool
 3   heart_disease      3426 non-null   bool
 4   ever_married       3426 non-null   bool
 5   work_type          3426 non-null   object
 6   Residence_type     3426 non-null   object
 7   avg_glucose_level  3426 non-null   float64
 8   bmi                3426 non-null   float64
 9   smoking_status     3426 non-null   object
 10  stroke             3426 non-null   int64
dtypes: bool(3), float64(3), int64(1), object(4)
memory usage: 250.9+ KB

Beginning steps to split overall data into test and training csvs.

In [49]:
from sklearn.model_selection import train_test_split
X = df.drop(['stroke'], axis = 1)
y = df.stroke


X_train, X_test, y_train, y_test = train_test_split(X, y, random_state = 42)

In [52]:
pd.concat([X_train, y_train], axis = 1)

,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
5027,Female,26.0,False,False,True,Private,Rural,73.29,27.8,never smoked,0
3743,Female,46.0,False,False,True,Govt_job,Urban,111.10,23.3,smokes,0
4905,Female,60.0,False,False,True,Private,Rural,84.54,23.4,smokes,0
1501,Female,43.0,False,False,True,Private,Rural,102.50,50.2,never smoked,0
2613,Male,25.0,False,False,True,Private,Rural,95.01,28.0,never smoked,0
...,...,...,...,...,...,...,...,...,...,...,...
1593,Male,31.0,False,False,True,Private,Urban,71.31,25.8,never smoked,0
1653,Male,44.0,False,False,True,Private,Rural,94.71,28.4,smokes,0
1899,Female,27.0,False,False,True,Private,Rural,83.26,22.2,never smoked,0
1236,Male,67.0,False,False,True,Govt_job,Rural,93.71,31.2,formerly smoked,0
4733,Male,67.0,False,False,True,Private,Rural,83.16,25.5,formerly smoked,0

Split data into training and testing set

In [62]:
pd.concat([X_train, y_train], axis = 1).to_csv('stroke_train_set.csv')

In [63]:
X_test.to_csv('stroke_test_set.csv')